body {
  background-color: rgb(50, 50, 50);
  text-align: center;
  border: solid rgb(25, 25, 25);
  width: 80%;
  margin: auto;
  margin-top: 250px;
  margin-bottom: 500px;
  color: rgb(200, 200, 200);
  font-family: sans-serif;
}

h1 {
  font-size: 40px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(200, 200, 200);
}

a:hover {
  color: black;
}
